<li class="cards">
    <div class="list-header">
        <%= list.title %>
        <%= link_to "删除", list_path(list), method: "delete" %>
    </div>
    <div class="list-cards">
        <% enable_cards(list).each do |c| %>
            <div class="card">
                <%= link_to c.title, card_path(c) %>
            </div>
        <% end %>
        <a class="open-card" href="#">Add a card…</a>
    </div>
</li>
