// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
    width: 84pc;
    margin: 0 auto;
    padding: 5.5rem 1rem;

    .tips {
        background: #D9EDF7;
        padding: 1px;
        text-align: center;
        color: #31708f;
        margin-bottom: 12px;
    }
    .main {
        box-sizing: border-box;
        background: #fff;
        padding: 15px;
        .control {
            width: 250px;
            margin: 0 auto;
            p {
                text-align: center;
            }
        }
    }
}
